/* Карусель */

.carousel-item {
    height: 15rem;
    bottom: 20px;
}

/* Футер */

.main {
    flex-grow: 1;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Формы регистрации и авторизации */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/* Карты блогов на домашней странице */

.card-main {
    height: 97%;
}

.card-body-main {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-text-main {
    display: flex;
    justify-content: start;
}