{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
Домашняя страница
{% endblock %}

{% block content %}
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'blog/carousel_1.jpg' %}" class="d-block w-100" alt="Первый слайд">
        <div class="carousel-caption d-none d-md-block">
          <h1>Первый слайд</h1>
          <h5>Описание первого слайда</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'blog/carousel_2.jpg' %}" class="d-block w-100" alt="Второй слайд">
        <div class="carousel-caption d-none d-md-block">
          <h1>Второй слайд</h1>
          <h5>Описание второго слайда</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'blog/carousel_3.jpg' %}" class="d-block w-100" alt="Третий слайд">
        <div class="carousel-caption d-none d-md-block">
          <h1>Третий слайд</h1>
          <h5>Описание третьего слайда</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>
  <div class="container">
    <h1 class="my-3 text-center mt-5 mb-4">Последние записи блога</h1>
    <div class="row">
      {% for post in page_obj %}
        <div class="col-md-4">
          <div class="card card-main mb-4 shadow-sm p-0 container-fluid">
            <div>
              <img src="{{ post.image.url }}" alt="" class="card-img-top">
            </div>
            <div class="card-body card-body-main">
              <h5 class="card-title text-center">{{ post.title }}</h5>
              <p class="card-text card-text-main">{{ post.description|safe|truncatechars:100 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="post/{{ post.id }}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                </div>
                <small class="text-muted">{{ post.created_at }}</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <nav aria-label="paginator">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link disabled" href="#" tabindex="-1">Предыдущая</a>
        </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Следующая</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <br>
{% endblock %}