{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Колонка контента поста -->
        <div class="col-lg-8">
            <!-- Хлебные крошки -->
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Главная</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                </ol>
            </nav>

            <!-- Тело поста -->
            <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
            <hr>
            <p class="lead">
                {{ post.description|safe }}
            </p>
            <p class="lead text-right">Автор: {{ post.author }}</p>
            <hr>
            <div class="text-right">Опубликовано {{ post.created_at }}</div>

            <!-- Контейнер с комментариями -->
            <div class="card my-4">
                <h5 class="card-header">Прокомментируй:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
            <div class="d-flex media mb-4 p-1">
                <img class="mr-3 rounded-circle" src="{% static 'blog/face.png' %}"
                     alt="" width="55wv" height="55hv">
                <div class="container media-body">
                    <h5 class="mt-0">Даниил Суперимя</h5>
                    Я считаю, что у меня лучшее имя в мире. Очень важно писать мое имя
                    с двумя буквами "и" и одной "л", потому что я - Даниил, а не Данилл или Данила.
                    Смотрите на меня, я важный.
                </div>
            </div>
        </div>

        <!-- Правая колонка -->
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Теги</h5>
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        {% if post.tag.all %}
                            {% for tag in post.tag.all %}
                                    <a href="{% url 'tag' tag.name %}" class="m-2 h5">#{{ tag }}</a>
                            {% endfor %}
                        {% else %}
                            <p>Нет выбранных тегов</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        <div class="card my-4">
            <h5 class="card-header">Последние статьи</h5>
            {% for post in last_posts %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <img src="{{ post.image.url }}" class="card-img">
                <p class="card-text">{{ post.description|safe|truncatechars:100 }}</p>
                <a href="/post/{{ post.id }}" class="card-link">Подробнее</a>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
